<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="./boot.php"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutCoversAnnotation="true"
        colors="true"
        verbose="true">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./Source/</directory>
        </whitelist>
    </filter>
</phpunit>
