<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
        colors="true"
        bootstrap="./boot.php">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./Tests/</directory>
            <directory>./TestsMySQL/</directory>
            <directory>./TestsSQLite/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./Source/</directory>
        </whitelist>
    </filter>
</phpunit>
